*{
    margin: 0;
    box-sizing: border-box;
}
/* !Home Page Styling */
#home_page{
    background-color: rgba(238, 185, 106, 0.459);
}
nav{
    height: 15vh;
    display: flex;
    padding: 0px 130px;
    color: white;
    background-color: rgb(238, 185, 106);
    margin-bottom: 20px;
}
#nav_left{
    /* border: 1px solid chocolate; */
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#nav_left>a{
    text-decoration: none;
    color: #fff;
}
#nav_middle{
    /* border: 1px solid chocolate; */
    flex-basis: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: #fff;
}
#nav_middle>a{
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}
#nav_right{
    /* border: 1px solid chocolate; */
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
#nav_right>i{
    font-size: 23px;
    cursor: pointer;
    /* background-color: rgb(255, 235, 205); */
    color: brown;
}
#cart_quantity{
    height: 22px;
    width: 19px;
    display: flex;
    justify-content: center;
    align-items: center; 
    border: 1px solid chocolate;
    border-radius: 50%;
    position: relative;
    top: -11px;
    right: 27px;
    background-color: #ffffff;
    cursor: pointer;
    color: black;
}
#cart_price{
    font-size: 19px;
    font-weight: bold;
    color: #fff;
}
header{
    height: 65vh;
    background: url("./assets/hero_background.png") center;
    background-size: cover;
    margin: 15px 40px;
    border-radius: 15px;
}
#bakery_desc{
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
    margin-top: 10px;
    margin-bottom: 10px;
    /* border: solid 1px chocolate; */
}
#bakery_desc>h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
}
#bakery_desc>a>button{
    padding: 13px 20px;
    margin-top: 10px;
    border: rgb(238, 185, 106);
    border-radius: 10px;
    color: white;
    background-color: orange;
    cursor: pointer;
}
#specials{
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border: solid 1px chocolate; */
    margin-bottom: 14px;
}
#specials>h2{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 10px;
}
#specials_container{
    display: flex;
    gap: 70px;
}
.items>img{
    height: 200px;
    width: 200px;
}
.items>p{
    text-align: center;
    font-size: 19px;
    margin-top: 10px;
}
footer{
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(238, 185, 106, 0.871);
    
}
footer>h2{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}
footer>:nth-child(2){
    font-size: 20px;
}
footer>a>button{
    padding: 10px 15px;
    border: rgb(238, 185, 106);
    border-radius: 10px;
    background-color: rgba(220, 215, 215, 0.853);
    cursor: pointer;
}
footer>:last-child{
    height: 30px;
    width: 100%;
    padding: 20px;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    border-top: 1px groove black;
}